
.container {
    font-family: cursive;
    width: 600px;
    height: auto;
    margin:auto;
}

.container .container-form {
    margin: auto;
    width: 300px;
    height: auto;
    border: 2px solid blue;
}
.container-form .form-control {
    margin-left: 30px;
}
.container-form h1{
    margin-left: 30px;
}
p {
    margin: 10px 0px;
}
button {
    margin-top: 20px;
}

.container .container-content {
    margin-bottom: 50px;
}
.container .container-content table {
    width: 100%;
    margin-top: 20px;
    box-sizing: border-box;
    border-collapse: collapse;
}
tr, th, td {
    border: 1px solid #aaaa;
}
.table-content{
    background-color: white;
}
.table-content:hover {
    background: #aaaa;
}